<header>
    <div>
        <div class="menu-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
              <rect x="2" y="2" width="36" height="36" rx="10" ry="10" fill="var(--input-background)" stroke="var(--border-color)" stroke-width="2"/>
              <line x1="10" y1="13" x2="30" y2="13" stroke="var(--primary-color)" stroke-width="2" stroke-linecap="round"/>
              <line x1="10" y1="20" x2="30" y2="20" stroke="var(--primary-color)" stroke-width="2" stroke-linecap="round"/>
              <line x1="10" y1="27" x2="30" y2="27" stroke="var(--primary-color)" stroke-width="2" stroke-linecap="round"/>
            </svg>
          </div>
        <div class="menu-container">
            <ul class="menu-list">
              <li><a href="#register" onclick="toggleForm(); return false;">Register Agent</a></li>
              <li><a href="http://localhost:8000/api/v1/docs">Backend APIs</a></li>
            </ul>
        </div>
    </div>
    <div>
        <h1>Data Dialogue</h1>
        <p class="slogan">Elevate Your Data Insights</p>
    </div>
</header>