<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Dialogue</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/atom-one-dark.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/17.0.2/umd/react.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.2/umd/react-dom.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/question-input.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/conversations.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/example-section.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/response-styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register-form.css') }}">
</head>
<body>
    <div id="header-component"></div>
    
    <div class="container">
        <div id="register-form-component"></div>
        <div id="question-input-component"></div>
        <div id="example-section-component"></div>
        <div id="loading-indicator-component"></div>
        <div id="conversations-component"></div>
    </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/queryHandling.js') }}"></script>
    <script src="{{ url_for('static', filename='js/uiInteractions.js') }}"></script>
    <script src="{{ url_for('static', filename='js/responseRendering.js') }}"></script>
    <script src="{{ url_for('static', filename='js/exampleSection.js') }}"></script>
    <script src="{{ url_for('static', filename='js/register-source.js') }}"></script>
    <script src="{{ url_for('static', filename='js/componentLoader.js') }}"></script>
</body>
</html>